[submodule "submodules/pq-crystals/dilithium"]
	path = submodules/pq-crystals/dilithium
	url = https://github.com/pq-crystals/dilithium.git
	ignore = dirty
[submodule "submodules/formosa-crypto/libjade"]
	path = submodules/formosa-crypto/libjade
	url = https://github.com/formosa-crypto/libjade.git
